"*":
  "bracket-matcher":
    autocompleteBrackets: false
    wrapSelectionsInBrackets: false
  core:
    disabledPackages: [
      "welcome"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "one-dark-ui"
      "one-dark-vivid-syntax"
    ]
    titleBar: "custom"
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontFamily: "Fira Code"
    fontSize: 15
    lineHeight: 1.6
    showIndentGuide: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "e35908d2-74c8-e05d-f616-ff2d37096212"
  "linter-ui-default": {}
  "local-history":
    difftoolCommand: "ksdiff \"{current-file}\" \"{revision-file}\""
  "node-debugger": {}
  "svg-preview":
    openPreviewAutomatically: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
