"*":
  core:
    disabledPackages: [
      "welcome"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "one-dark-ui"
      "one-dark-vivid-syntax"
    ]
    useCustomTitleBar: true
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontFamily: "SF Mono, Fira Code"
    fontSize: 16
    lineHeight: 1.6
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "e35908d2-74c8-e05d-f616-ff2d37096212"
  "local-history":
    difftoolCommand: "ksdiff \"{current-file}\" \"{revision-file}\""
  welcome:
    showOnStartup: false
